.App {
  text-align: center;
}

.main {
  padding-top: 0vh;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100vw;
}

.typist-header{
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5vh;
}

.App-link {
  color: #61dafb;
}

.profile-picture {
  height: 30vh;
  width: 14vw;
  border-radius: 100%;
}
.title {
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 6vh; 
  font-weight: 300; 
  line-height: 58px; 
  margin: 0 0 58px;
}

.pitch {
  position: relative;
  color: #ffffff; 
  font-family: 'Lato', sans-serif; 
  font-size: 2.5vh; 
  font-weight: 300; 
  line-height: 3.5vh; 
  padding-top: 6vh;
  margin-bottom: 0vh;
  max-width: 60vw;
  
}
.arrows-header1{
  display: block;
  position: relative;
  color: #e27d60; 
  font-family: 'Lato', sans-serif; 
  font-size: 1.5vh; 
  font-weight: 300; 
  transform-origin: 0 0;
  transform: rotate(90deg);
  margin-left: 4.6vw;
}
.arrows {
  display: block;
  position: relative;
  padding-bottom: 15vh;
}
.card-root{
  width: 25vw;
}
.card-media{
  height: 30vh;
}
.card-content{ 
  height: 25vh;
}
.welcome-section {
  background-color: #282c34;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;;
  padding-top: 10vh;
}
.project-section {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3vh;
}
.arrows-header2{
  display: block;
  position: relative;
  color: #e27d60; 
  font-family: 'Lato', sans-serif; 
  font-size: 1.75vh; 
  font-weight: 300; 
  transform-origin: 0 0;
  transform: rotate(90deg);
  margin-left: 4.5vw;
}
.grid-root {
  padding-top: 10vh;
  padding-bottom: 0vh;
  flex-grow: 1;
}

.avatar {
  background-color: red;
}
.icons {
  color: #e27d60;
}
.navbar {
  padding-bottom: 1vh;
  position: sticky;
  background-color: #282c34 !important;
  display: block !important;
  min-width: 100vw;
  z-index: 4;
}
.navbar-root {
  background-color: #282c34;
  position: fixed;
  min-width: 100vw;
}
.tab{
  background-color: #282c34;
}
.resume-section {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3vh;
}
.resume {
  max-height: 85vh;
}
.download-button{
  height: 5vh;
  width: 5vh;
  border-radius: 100px;
  border: 2px solid #e27d60;
  background-color: #e27d60;
  margin-left: 27vw;
  margin-top: -1.5vw;
}
.download-icon {
  margin-top: 0.75vh;
}
.arrows-header3 {
  display: block;
  position: relative;
  color: #e27d60; 
  font-family: 'Lato', sans-serif; 
  font-size: 1.75vh; 
  font-weight: 300; 
  transform-origin: 0 0;
  transform: rotate(90deg);
  margin-left: 4.75vw;
}
.icon {
  height: 7vh !important;
  width: 7vw !important;
}

.linkedin-icon:hover {
  color: #2867B2;
}
.spotify-icon:hover {
  color: #1DB954;
}
.github-icon:hover {
  color: #6e5494;
}
.facebook-icon:hover {
  color: #4267B2;
}
.twitter-icon:hover {
  color: #1DA1F2;
}
.mail-icon:hover {
  color: #FF4C4C;
}
.link {
  color: white;
  text-decoration: none;
}
.connection-section {
  min-height: 35vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3vh;
}
.download-link {
  text-decoration: none;
  color: white;
}
.card-link-icon {
  margin-left: 1100%;
}